{% extends "layout.html" %}

{% block head %}
	<style>
		a:link, a:visited {
			background-color: white;
			color: black;
			border: 2px solid black;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
		}

		a:hover, a:active {
			background-color: black;
			color: white;
		}
		input, select {
		  width: 20%;
		  padding: 12px 20px;
		  margin: 8px 0;
		  box-sizing: border-box;
		}
	</style>
{% endblock %}

{% block heading %}
	MOVIE THEATER
{% endblock %}

{% block body %}
	<h2>Make Movie Request</h2>
	<form action="{{ url_for('make_movie_request') }}" method="post">
		Movie Name
		<br>
		<input type="text" name="movie_name" placeholder="Enter movie name">
		<br>
		Movie Language
		<br>
		<input type="text" name="language" placeholder="Enter language">
		<br>
		Time (in 24 hr format)
		<br>
		<input type="number" name="time" placeholder="Enter time of movie">
		<br>
		<input type="submit" value="Make Movie Request">
	</form>
{% endblock %}
