{% extends 'layout.html' %}

{% block head %}
	<style>
		a:link, a:visited {
			background-color: white;
			color: black;
			border: 2px solid black;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
		}

		a:hover, a:active {
			background-color: black;
			color: white;
		}
	</style>
{% endblock %}

{% block heading %}
	Admin Section
{% endblock %}

{% block body %}
	<h2>Movie Approval Status</h2>
	<table style = "width: 32%">
		<tr>
			<th>Movie Name</th>
			<th>Language</th>
			<th>Time</th>
			<th>Approval Status</th>
		</tr>
		{% for movie in movies %}
			<tr>
				<td>{{ movie.name }}</td>
				<td>{{ movie.language }}</td>
				<td>{{ movie.time }}</td>
				<td>{{ movie.is_approved }}</td>
				{% if movie.is_approved != "NA" %}
					<td>
						<form action="{{ url_for('movie_status') }}" method="POST">
							<button name="change" type="submit" value={{ movie.id }}>Change</button>
						</form>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
	<a href="{{ url_for('admin') }}">Go Back</a>
{% endblock %}
